* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    background: #000000 url(imagenes/fondo.png);
    background-size: cover;
    background-attachment: fixed;
}

.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header .menu a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

header .menu a:hover {
    text-decoration: underline;
}

.main {
    background: #ffffff;
    padding: 20px;
    
    width: 70%;
}

.main article .thumb {
    margin-bottom: 20px;

}
.main article .thumb img {
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
}

.main article h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;

}

.main article p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

aside {
    width: 30%;
    background: #241E5B;    
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}

aside .ad {
    width: 100%;  
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
    background-color: rgb(70, 100, 187);
    
}

aside .ad img {
    width: 100%;
    border-radius: 5px;
}

aside .ad h4 {
    margin-bottom: 10px;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
}

aside h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
}

footer {
    background: rgba(255, 255, 255, .2);
    color: #ffffff;
    width: 100%;
    padding: 20px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

footer .redes-sociales a {
    color: #ffffff;
    margin-left: 10px;
}

footer .redes-sociales a:hover {
    text-decoration: none;
}

@media screen and (max-width:800px) {
    .main {
        width: 100%;
    }

    aside {
        width: 100%;
        flex-direction: row;
    }
    aside h3 {
        width: 100%;
    }
    aside .ad {
        width: 40%;
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width:600px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }
    header .menu {
        width: 100%;
        background: rgba(255, 255, 255, .2);
        text-align: center;
        padding: 20px;
    }

    header .logo {
        margin-bottom: 20px;
    }
    header .menu a {
        margin:  0px 20px;
    }

    footer {
        flex-direction: column;
    }
    footer .redes-sociales {
        order: 1;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .autor {
        order: 2;
        text-align: center;
    }
    
}

@media screen and (max-width:400px){
    aside {
        display: none;
    }
}